version: "3.9"

services:

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn simulated_api.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/products"]
      interval: 10s
      timeout: 5s
      retries: 5

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    command: python data_pipeline/scheduler.py
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - API_BASE_URL=http://api:8000
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      api:
        condition: service_healthy
    restart: always   # restart if it crashes

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    command: streamlit run dashboard/app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DASH_USER=${DASH_USER}
      - DASH_PASSWORD_HASH=${DASH_PASSWORD_HASH}
      - DASH_COOKIE_KEY=${DASH_COOKIE_KEY}
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      scheduler:
        condition: service_started

volumes:
  postgres_data: